django
django-errors
python-social-auth
social-auth-app-django
django-oauth-toolkit
phonenumbers
django-phonenumber-field
django-two-factor-auth
django-otp
django-countries
pyjwkest
Markdown
easy_thumbnails
django-image-cropping
djangorestframework
django-crispy-forms
django-cors-headers
django-user-sessions
django-axes
sweetify
docutils
coverage
coveralls
django-jenkins
coverage
pytest
pytest-django
pytest-randomly
